@media screen and (max-width: 730px) {
  .good-container {
    justify-content: space-between;
    max-width: 570px;
    width: 100%;
  }
  
  .rightBlock {
    width: 57%;
  }
  
  .date, .cost, .editImage, .deleteImage {
    margin-left: 0px;
  }
  
  .cost {
    width: 100px;
  }
  
  .icons {
    width: 45px;
    display: flex;
    justify-content: space-between;
  }

  #content-page {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 697px) {
  .for-inputs {
    display: flex;
    flex-direction: column;
    height: 170px;
    width: 100%;
  }

  .inputEditShop {
    width: 95%;
  }
  
  .inputEditCost {
    margin-left: 0px;
    width: 95%;
  }

  .calendar {
    width: 95.5%;
  }

  .saveButton {
    margin-left: 0;
  }

  #content-page {
    width: 81%;
    margin: 0 auto;
  }

}
  
@media screen and (max-width: 670px) {
  .cost {
    width: 50px;
  }
  
  .shop {
    width: 100px;
  }
}
  
@media screen and (max-width: 640px) {
  .main-field {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  
  .where-spend {
    width: 80%;
  }
  
  .much-spend {
    width: 80%;
    margin-top: 10px;
  }
  
  .where-spend input {
    max-width: 450px;
    width: 98%;
  }
  
  .good-container {
    width: 88%;
  }
  
  .sum {
    margin-top: 130px;
    width: 72%;
  }
  
  .add-btn {
    width: 120px;
    height: 40px;
    margin: 20px 55px 0 auto;
    padding: 10px;
  }

  .for-inputs {
    width: 90%;
  }

  .container-edit-only {
    width: 90%;
  }
}
  
@media screen and (max-width: 540px) {
  .shop {
    width: 80px;
  }
  
  .rightBlock {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 25%;
  }
  
  .date {
    margin-bottom: 0;
  }
  
  .cost {
    margin-top: 0;
  } 
}

@media screen and (max-width: 523px) {
  .cancel-button-only {
    margin-bottom: 10px;
  }

  .input-shop-only, .calendar-only, .input-cost-only {
    height: 30px;
  }

  .button-save-only {
    margin-left: 0px;
  }
}
  
@media screen and (max-width: 500px) {
  .add-btn {
    margin-right: 45px;  
  }

}

@media screen and (max-width: 478px) {
  .cancelButton {
    margin-bottom: 10px;
  }

  .good-container {
    flex-wrap: wrap;
    width: 80%;
  }

  .inputEditShop, .calendar {
    margin-bottom: 9px;
  }

  .saveButton {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 177px;
  }
}

@media screen and (max-width: 418px) {
  .container-edit-only {
    height: 80px;
  }
}
  
@media screen and (max-width: 400px) {
  .add-btn {
    margin-right: 37px;
  }
}
  
@media screen and (max-width: 375px) {
  .where-spend {
    width: 95%;
  }
  
  .much-spend {
    width: 95%;
  }
  
  .add-btn {
    margin-right: 10px;  
  }
  
  .sum {
    width: 85%
  }
  
  .for-inputs {
    width: 100%;
  }

  .rightBlock {
    width: 36%;
  }; 
  
  .shop {
    color: black;
  }

  .good-container {
    width: 100%;
  }

  .input-shop-only, .calendar-only, .input-cost-only {
    margin-bottom: 10px;
  }

  .container-edit-only {
    height: 130px;
  }
}

@media screen and (max-width: 330px) {
  h1 {
    font-size: 28px;
  }
}
  